body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1;
  text-align: center; 
}

h1 {
  font-family: 'Roboto Slab', serif;
}

form {
  max-width: 500px;
  margin: 0 auto;
  /*text-align: center;*/
}
